<mat-card>
	<mat-card-content>
		<hr>
		<div class="container-fluid">
			<div *ngIf="datosDeContacto" class="contacto">
				<div class="row">
					<div class="col">
						<div class="contacto-title">
							<span>{{ contactTitle}}</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">


						<ng-container *ngIf='contactNode.hasImage'>
						<div class="image-box">
							<ng-container *ngIf='contactNode.navigateTo'>
								<a routerLink='{{ contactNode.navigateTo }}'>
									<img class='footer-img' src='{{ contactNode.imageUrl }}' ></a>
							</ng-container>

							<ng-container *ngIf='contactNode.linkTo'>
			          <a rel="noopener noreferrer"  target="_blank" 
			          	 title="{{contactNode.linkTo}}" href="{{contactNode.linkTo}}" >
		          		<img class='footer-img' src='{{ contactNode.imageUrl }}' ></a> 
							</ng-container>
							
							<ng-container *ngIf='contactNode.noLink'>
		             <img class='footer-img' src='{{ contactNode.imageUrl }}' >
		           </ng-container>
						</div>
						</ng-container>

						<div class='footer-text' innerHtml='{{contactNode.description}}'></div>
					</div>					
				</div>

				<div class="row">
					<div class="col">
						<div class="social-title">
							<span>Redes sociales del área</span>
						</div>
					</div>
				</div>

				<div class='row'>
					<div class="col-md-12 col-sm-12 social-box">
						<div class="text-social">
							<ng-container *ngFor='let social of socialItems'>
					        <a class="social-token" mat-icon target="_blank" rel="noopener" 
					            href="{{ social.url }}"  title="{{ social.title }}">
					              <i class='{{ social.icon }}'></i></a>
				  		</ng-container>
				  	</div>
			  	</div>
			  </div>

			</div>
			<hr>

			<div *ngIf="branding" class="branding">
				<div class="row">

					<div class="col-md-12 col-sm-12 branding-box">
						<ng-container *ngIf='brandingNode.navigateTo'>

									<img src='{{ brandingNode.imageUrl }}' >

							<!-- a routerLink='{{ brandingNode.navigateTo }}'>
								<img class='branding-img' src='{{ brandingNode.imageUrl }}' ></a -->
						</ng-container>

						<ng-container *ngIf='brandingNode.linkTo'>
							<div class="row branding-text">
								<div class="col-md-6">
									<img  class='branding-img' src='{{ brandingNode.imageUrl }}' >
									<p>
										<span>
											<a rel="noopener noreferrer"  target="_blank" 
		          	 					title="{{brandingNode.linkTo}}" href="https://creativecommons.org/licenses/by/4.0/deed.es" >Los contenidos de argentina.gob.ar están licenciados bajo Creative Commons Atribución 4.0 Internacional
		          	 			</a>
		          	 		</span>
		          	 	</p>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class='col-md-6'>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/turnos" >Turnos</a>
			          	 		</span></p>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/organismos" >Organismos del Estado</a>
			          	 		</span></p>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/jefatura/mapa-del-estado" >Mapas del Estado</a>
			          	 		</span></p>

										</div>
										<div class='col-md-6'>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/normativa" >Leyes argentinas</a>
			          	 		</span></p>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/acerca" >Acerca de este sitio</a>
			          	 		</span></p>
											<p><span>
												<a rel="noopener noreferrer"  target="_blank" 
			          	 					title="{{brandingNode.linkTo}}" href="https://www.argentina.gob.ar/terminos-y-condiciones" >Términos y condiciones</a>
			          	 		</span></p>
										</div>
									</div>

								</div>

							</div>
		          <!--a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{brandingNode.linkTo}}" href="{{brandingNode.linkTo}}" >
	          		<div></div></a--> 

						</ng-container>
						
						<ng-container *ngIf='brandingNode.noLink'>
							<div class="row branding-row">
								<div *ngIf="brandingNode.description" 
											class='col-md-4 col-sm-12  branding-text'>
									<!-- p  innerHtml='{{brandingNode.description}}' ></p-->
								</div>
								<div class="col-md-8 col-sm-12" >
									<img class='branding-img' src='{{ brandingNode.imageUrl }}' >
								</div>
							</div>
	           </ng-container>
	        </div>

				</div>
			</div>					

			<div class="row">
				<div class="col-md-12 col-sm-12 copyright">{{ copyright }}</div>
			</div>

		</div>
	</mat-card-content>
</mat-card>

<!--mat-card>
	<mat-card-content>
		<div *ngIf="isModoUNO" class="container-fluid">
			<div id='footer' class="row align-items-end">
				<div class='col-md' *ngFor='let node of nodes'>

					<ng-container *ngIf='node.hasImage'>
					<div class="image-box">
						<ng-container *ngIf='node.navigateTo'>
							<a routerLink='{{ node.navigateTo }}'>
								<img class='footer-img' src='{{ node.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='node.linkTo'>e
		          <a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{node.linkTo}}" href="{{node.linkTo}}" >
	          		<img class='footer-img' src='{{ node.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='node.noLink'>
	             <img class='footer-img' src='{{ node.imageUrl }}' >
	           </ng-container>
					</div>
					</ng-container>

					<div class='footer-text' innerHtml='{{node.description}}'></div>
				
				</div>
			</div>
		</div>

		<div *ngIf="isModoDOS" >

			<div *ngIf="isHomeView" class='row branding'>
				<ng-container *ngFor='let bnode of bnodes'>

					<div class="col-md-12 col-sm-12 branding-box">
						<ng-container *ngIf='bnode.navigateTo'>
							<a routerLink='{{ bnode.navigateTo }}'>
								<img class='branding-img' src='{{ bnode.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='bnode.linkTo'>
		          <a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{bnode.linkTo}}" href="{{bnode.linkTo}}" >
	          		<img class='branding-img' src='{{ bnode.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='bnode.noLink'>
							<div class="row branding-row">
								<div *ngIf="bnode.description" 
											class='col-md-4 col-sm-12  branding-text'>
									<p  innerHtml='{{bnode.description}}' ></p>
								</div>
								<div class="col-md-8 col-sm-12" >
									<img class='branding-img' src='{{ bnode.imageUrl }}' >
								</div>
							</div>
	           </ng-container>

					</div>

				</ng-container>
			</div>

			<ng-container *ngFor='let fnode of fnodes'>
			<div class='row footer'>
			
				<div class="col-md-6 col-sm-12  footer-row">
					<div class="footer-box">
						<ng-container *ngIf='fnode.navigateTo'>
							<a routerLink='{{ fnode.navigateTo }}'>
								<img class='footer-img' src='{{ fnode.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='fnode.linkTo'>
		          <a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{fnode.linkTo}}" href="{{fnode.linkTo}}" >
	          		<img class='footer-img' src='{{ fnode.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='fnode.noLink'>
	             <img class='footer-img' src='{{ fnode.imageUrl }}' >
	           </ng-container>

					</div>
				</div>

				<div class="col-md-6 col-sm-12 social-box">
					<ng-container *ngIf="fnode.description">
						<div  class='footer-text' innerHtml='{{fnode.description}}' >
						</div>
					</ng-container>
		  	</div>

			</div>
			</ng-container>

			<div class='row footer'>
				<div class="col-md-12 col-sm-12 social-box">
					<div class="text-social">
					<ng-container *ngFor='let social of socialItems'>
				        <a class="social-token" mat-icon target="_blank" rel="noopener" 
				            href="{{ social.url }}"  title="{{ social.title }}">
				              <i class='{{ social.icon }}'></i></a>
			  	</ng-container>
			  	</div>
		  	</div>
		  </div>

		</div>

	</mat-card-content>
</mat-card -->


<!--
		<div id='footer' class="d-flex flex-column flex-md-row justify-content-start align-items-center">
			<div *ngFor='let node of nodes'>
				<span innerHtml='{{node.description}}'></span>
				<img src='{{node.imageUrl}}' >
			</div>
		</div>
-->