<mat-toolbar color="primary" *ngIf="(user$ | async) as user">
  <img src="../../../assets/img/icono-dengue.png" alt="Icono dengue" class="imagen-dengue">

  <span style="flex: 1 1 auto;"></span>


  <p class="my-0">
    <small>{{user.nombre }} {{user.apellido }}</small>
  </p>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Menú de perfil">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">

    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item (click)="cargarSintomas()" *ngIf="!user.isMedico">
      <mat-icon>note_add</mat-icon>
      <span>Cargar sintomas</span>
    </button>
    <button mat-menu-item [routerLink]="['contactanos']">
      <mat-icon>mail</mat-icon>
      <span>Reportar Problema</span>
    </button>
  </mat-menu>