<ng-template #datoNoDisponible><span class="text-secondary text-smaller">(( dato no disponible ))</span></ng-template>


<ng-container *ngIf="archive$ | async as archive">
    <mat-card>
        <mat-card-title>

            <ng-container *ngIf="archive.materials && archive.materials.length > 0">
                {{ archive.materials[0].id_externo }}
            </ng-container>

            <ng-container *ngIf="archive.fondo.legajo_numero">
                :: Legajo Nº {{ archive.fondo.legajo_numero }}
            </ng-container>

            <ng-container *ngIf="archive.metadatos.titulo_formal">
                :: {{ archive.metadatos.titulo_formal }}
            </ng-container>

            <ng-container *ngIf="archive.metadatos.coleccion">
                :: {{ archive.metadatos.coleccion }}
            </ng-container>

            <ng-container *ngIf="archive.fondo.coleccion">
                :: {{ archive.fondo.coleccion.title }}
            </ng-container>
        </mat-card-title>

        <mat-card-content>
            <div class="container-fluid p-0">
                <mat-tab-group>
                    <mat-tab label="Ficha técnica">
                        <section *ngIf="archive.metadatos.temas_raw" class="block-info">
                            <h2>Palabras clave</h2>
                            <p class="mb-0">{{ archive.metadatos.temas_raw }}</p>
                        </section>

                        <section class="block-info">
                            <h2>Artistas</h2>
                            <p class="mb-0">
                                <strong>Productor(es): </strong>
                                <ng-container *ngIf="archive.artists; else datoNoDisponible">
                                    <span *ngFor="let artist of archive.artists">
                                  <ng-container *ngIf="artist.role.title === 'Productor'">{{ artist.title }}</ng-container>
                              </span>
                                </ng-container>
                            </p>

                            <p>
                                <strong>Actor(es): </strong>
                                <ng-container *ngIf="archive.artists; else datoNoDisponible">
                                    <span *ngFor="let artist of archive.artists">
                                  <ng-container *ngIf="artist.role.title === 'Actor'">{{ artist.title }}</ng-container>
                              </span>
                                </ng-container>
                            </p>
                        </section>

                        <section *ngIf="archive.genres" class="block-info">
                            <h2>Género</h2>
                            <p class="mb-0">
                                <strong>Género(s): </strong>
                                <span *ngFor="let genre of archive.genres">{{ genre.title }} </span>
                            </p>
                        </section>


                        <section *ngIf="archive.languages.length > 0" class="block-info">
                            <h2>Idiomas</h2>
                            <p class="mb-1"><strong>Lenguaje: </strong>{{ archive.languages[0].title_spanish }}</p>
                            <p class="mb-1"><strong>Subtítulos: </strong>
                                <ng-container *ngIf="archive.metadatos.subtitulos == 0">No</ng-container>
                                <ng-container *ngIf="archive.metadatos.subtitulos == 1">Sí</ng-container>
                            </p>
                        </section>


                        <section class="block-info">
                            <h2>Fechas</h2>
                            <p *ngIf="archive.metadatos.fecha_grabacion" class="mb-0"><strong>Fecha de grabación</strong>: {{ archive.metadatos.fecha_grabacion | date: 'dd/MM/yyyy' }}</p>
                            <p *ngIf="archive.metadatos.fecha_filmacion" class="mb-0"><strong>Fecha de filmación</strong>: {{ archive.metadatos.fecha_filmacion | date: 'dd/MM/yyyy' }}</p>
                            <p *ngIf="archive.metadatos.fecha_digitalizacion"><strong>Fecha de digitalización</strong>: {{ archive.metadatos.fecha_digitalizacion | date: 'dd/MM/yyyy' }}</p>
                        </section>

                        <section *ngIf="archive.metadatos.observacion_preparacion || archive.metadatos.observacion_digitalizacion || archive.metadatos.observacion_cinecolor" class="block-info">
                            <h2>Observaciones</h2>
                            <p *ngIf="archive.metadatos.observacion_preparacion" class="mb-0"><strong>Grabación</strong>: {{ archive.metadatos.observacion_preparacion }}</p>
                            <p *ngIf="archive.metadatos.observacion_digitalizacion" class="mb-0"><strong>Digitalización</strong>: {{ archive.metadatos.observacion_digitalizacion }}</p>
                            <p *ngIf="archive.metadatos.observacion_cinecolor"><strong>Cinecolor</strong>: {{ archive.metadatos.observacion_cinecolor }}</p>
                        </section>
                    </mat-tab>

                    <mat-tab *ngIf="(archive.documentos && archive.documentos.length > 0) || (archive.attachments && archive.attachments.length > 0)" label="Descripción">
                        <section *ngIf="archive.documentos && archive.documentos.length > 0" class="block-info">
                            <h2>Descripción</h2>
                            <p class="mb-0" [innerHtml]="archive.documentos[0].contents| sanitizeHtml"></p>
                        </section>

                        <section *ngIf="archive.attachments && archive.attachments.length > 0" class="block-info">
                            <h2>Documentos</h2>
                            <p>Documentos digitales que acompañan al presente acervo</p>

                            <p class="mb-0" *ngFor="let attachment of archive.attachments">
                                Archivo: <strong>{{ attachment.title }}</strong> - <a [routerLink]="['/web/descargar', attachment._id]">Descargar</a>
                            </p>
                        </section>
                    </mat-tab>

                    <mat-tab label="Índices">
                        <section class="block-info">
                            <h2>Onomástico (persona)</h2>
                            <ng-container *ngFor="let tema of archive.temas">
                                <p class="mb-0" *ngIf="tema.themeType.themeTypeId == 1">{{ tema.title }}</p>
                            </ng-container>
                        </section>

                        <section class="block-info">
                            <h2>Onomástico (organización)</h2>
                            <ng-container *ngFor="let tema of archive.temas">
                                <p class="mb-0" *ngIf="tema.themeType.themeTypeId == 2">{{ tema.title }}</p>
                            </ng-container>
                        </section>

                        <section class="block-info">
                            <h2>Cronológico</h2>
                            <ng-container *ngFor="let tema of archive.temas">
                                <p class="mb-0" *ngIf="tema.themeType.themeTypeId == 3">{{ tema.title }}</p>
                            </ng-container>
                        </section>

                        <section class="block-info">
                            <h2>Geográfico</h2>
                            <ng-container *ngFor="let tema of archive.temas">
                                <p class="mb-0" *ngIf="tema.themeType.themeTypeId == 4">{{ tema.title }}</p>
                            </ng-container>
                        </section>

                        <section class="block-info">
                            <h2>Temático</h2>
                            <ng-container *ngFor="let tema of archive.temas">
                                <p class="mb-0" *ngIf="tema.themeType.themeTypeId == 5">{{ tema.title }}</p>
                            </ng-container>
                        </section>
                    </mat-tab>

                    <mat-tab *ngIf="archive.assets.length > 0" label="Contenido multimedial">
                        <section class="block-info" *ngFor="let asset of archive.assets">
                            <h2 class="mb-1"><span class="text-secondary">{{ asset.resourcetype.title }} :: </span>{{ asset.title }}</h2>
                            <p class="my-1"><strong>Descripción: </strong>{{ asset.description }}</p>
                            <button class="my-2" mat-flat-button type="button" color="primary" (click)="playMedia(asset.path, asset.resourcetype.resourceTypeId, asset.title)">
                              Reproducir
                            </button>
                        </section>

                        <section class="block-info" *ngIf="archive.timecodes.length > 0">
                            <h2 class="mb-2">Timecodes</h2>
                            <p class="my-0" *ngFor="let timecode of archive.timecodes"><strong>{{ timecode.code }} </strong>{{ timecode.title }}</p>
                        </section>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card-content>
        <mat-card-actions class="ml-1">
            <button mat-flat-button color="primary" (click)="onGoBack()">Volver</button>
        </mat-card-actions>
    </mat-card>
</ng-container>