h2,
.mat-card-title {
    font-style: italic;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

.block-info {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 10px;
}

.mat-tab-group,
h2 {
    font-family: "Encode Sans";
}