<div class="container-fluid p-0" id="ingresar-container">
    <mat-card >
        <mat-card-title class="text-center">Unite a la comunidad</mat-card-title>
        <mat-card-content>
            <p>Te ayudamos a cuidarte, detectar esta enfermedad en etapas tempranas es primordial</p>
        </mat-card-content>
        <mat-card-actions class="text-center">
            <button mat-flat-button color="primary" [routerLink]="['ingresar']">INGRESAR</button>
        </mat-card-actions>
    </mat-card>
</div>