:host {
    background: url(../../../assets/img/dengue.gif) 50% 50% no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

#ingresar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}