<main class="mt-3">

    <div class="container-fluid p-0">

        <ng-container>
            <div class="row">
                <div class="col-sm-12 col-md-12" *ngIf="viewCard">
                    <vida-query-view *ngFor="let archive of vidaQueryList" [archive]="archive"></vida-query-view>
                </div>
            </div>
        </ng-container>


        <mat-paginator #paginator [length]="itemsLength" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 25, 50, 75, itemsLength]">
        </mat-paginator>
    </div>

</main>